NAVBAR

body
.navbar-wrapper
  .container
    nav.navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') PRUEBA
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Inicio
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | Acerca de
                span.caret
              ul.dropdown-menu
                li
                  a(href='Historia.html') Historia
                li.divider(role='separator')
                li
                  a(href='#') Mision Vision
            li
              a(href='#contact') Galeria
            li
              a(href='#contact') Contacto
    .navbar.navbar-default.navbar-fixed-bottom
      .container
        p.navbar-text
          | Copyright©
          script.
            document.write(new Date().getFullYear())
          |  | Institucion Prueba | Donado por: Luis Roberto Mora Castro | TCU Universidad Americana
